{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="col-md-6 offset-md-3 cont">
  {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
      {% endif %}
  <form method="POST" action="/login/">
    {% csrf_token %}
    <br>
  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="username" required>
  </div>
    <br>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>
{% endblock %}