{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class='sect'>
      {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
      {% endif %}
    <div class='c1'>
            <div class='img1'>
              <a href="verify"><button>Verify Account</button></a>
        </div>
    </section>
    <section class='trade'>
        <div>
            <h3>We Handle All Cash App Tags</h3>
            <h3>We Redeem All Gift Card</h3>
        </div>
        <div>
            <h3>Live Trading Section With Top Experts</h3>
        </div>
    </section>
    <footer class="foot">
        <p>Copyright@ 2024 JuanmFx All Rights Reserved</p>
    </footer>
{% endblock %}